/* Import google fonts */
@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya:regular,italic,500,500italic,700,700italic,800,800italic,900,900italic);

body{
    
    margin: 0;

    background-color: #201c27;

}


main{
    overflow-x: auto;

    margin: 0;

    text-align: center;

    color: #f0eae8;

    background-color: #201c27;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;

    background-color: #f0eae8;

    font: large;
}

main img
{
    max-width: 100%;
}

.card
{
    display: inline-block;

    padding: 30px;

    width: auto;

    font-family: 'Alegreya';

    background-color: #8d8075;
}


.btn-block
{
    padding: 30px;

    margin-top: 15px;

    color: #201c27;

    background-color: #e63b4d;

    font-family: 'Work Sans';

    font-size: x-large;
}

#roller-header
{
    font-family: 'Catamaran', sans-serif;

    font-size: 5em;

    font-weight: 700;
}

#result-title
{
    padding-top: 15px;
}