{% extends "layout.html" %}

{% block title %}
  Add Character
{% endblock %}

{% block main %}
  <form name="addchar" class="form-group" action="/add" method="POST">
     <h4>Add a Character</h4>
      <div class="form-group">
         <input name="addcharname" class="form-control" autocomplete="off"
                                                        placeholder="Name"
                                                        required>
      </div>
      <div class="form-group">
         <input name="maxhp" class="form-control" autocomplete="off"
                                                  placeholder="Max HP"
                                                  required>
      </div>
      <button name="addcharbtn" type="submit" class="btn btn-primary" onsubmit="validateAddForm()">Add
                                                       Character"</button>
   </form>
   <script>
      function validateAddForm(){
         let name = document.forms['addchar']['addcharname'].value;
         let maxhp = document.forms['addchar']['maxhp'].value;
         if (name == ""){
            alert("Please enter a name");
            return false;
         } else if (maxhp < 1){
            alert("Max HP must be at least 1");
            return false;
         } else {
             return confirm(`Do you want to add ${name} to your character list?`) 
         }
   </script>

{% endblock %}
