{% extends 'layout.html' %}

{% block title %}
    Dice Roller
{% endblock %}

{% block main %}
<div class="pb-2 mt-4 mb-2 border-bottom">
    <h1 id="roller-header">Dice Roller</h1>
</div>

<div id="dicecard" class="card">
    <h4 class="instruction">Number of Dice</h4>
    <input class="form-control" id="dice" type="number" min="1" value="1" required>
</div>
<div id="sidescard" class="card">
    <h4 class="instruction">Number of Sides</h4>
    <input class="form-control" id="sides" type="number" min="2" value="20" required>
</div>
<div id="bonuscard" class="card">
    <h4 class="instruction">Bonus (if any)</h4>
    <input class="form-control" id="bonus" type="number" value="0">
</div>

<div class="container-fluid">
    <button id="roller" class="btn-block" onclick="document.getElementById('result').innerHTML = roll()">Roll</button>
</div>

<div class="container-fluid" id='result-title'>
    <h1 class="instruction"><u>Result</u></h1>
</div>

<div class="container-fluid">
    <h1 class="instruction" id="result"></h1>
</div>


<script>
    function roll() {

        /* Gets number of dice and bonus input by user */ 
        var sides = document.getElementById("sides").value;
        
        if (sides < 0){
            return "Dice must have at least 2 sides!";
        }
        else if (sides > 1000){
            return "That's too many sides!";
        }

        var dice = document.getElementById("dice").value;

        if (dice < 0){
            dice = 0;
        }
        else if (dice > 1000){
            return "That's too many dice!";
        }

        var bonus = document.getElementById("bonus").value;

        /* Variables for rolling */
        var i;
        var rolls = new Array(dice);
        var total = 0;

        /* Roll each die in first loop, add them together in second */
        for (i = 0; i < dice; i++){
            rolls[i] = (Math.floor(Math.random() * sides) + 1);
            }
        for (i = 0; i < rolls.length; i++){
            total = total + rolls[i];
            }
         
        return parseInt(total) + parseInt(bonus);
    }
</script>
{% endblock %}
