{% extends 'layout.html' %}

{% block main %}
<h3 class="instruction">Number of Dice</h3>
<input class="form-control" id="dice" type="number" min="1" value="1">
<h3 class="instruction">Number of Sides</h3>
<input class="form-control" id="sides" type="number" min="2" value="20">
<h3 class="instruction">Bonus (if any)</h3>
<input class="form-control" id="bonus" type="number" value="0">

<button class="btn btn-primary" onclick="document.getElementById('result').innerHTML = roll()">Roll</button>

<h4 class="instruction" id="result"></h4>


<script>
    function roll() {

        /* Gets number of dice and bonus input by user */ 
        var sides = document.getElementById("sides").value;
        var dice = document.getElementById("dice").value;
        var bonus = document.getElementById("bonus").value;

        /* Variables for rolling */
        var i;
        var rolls = new Array(dice);
        var total = 0;

        /* Roll each die in first loop, add them together in second */
        for (i = 0; i < dice; i++){
            rolls[i] = (Math.floor(Math.random() * sides + 1));
            }
        for (i = 0; i < rolls.length; i++){
            total = total + rolls[i];
            }
         
        return total + bonus;
    }
</script>
{% endblock %}