{% extends "layout.html" %}

{% block title %}
    HP Tracker
{% endblock %}

{% block main %}
    <div class="container-fluid">
      <button id="newchar" class="btn-block" onclick="location = 'TODO'" >Create New
          Character</button>
    </div>
    <div class="container-fluid">
      <button id="editchar" class="btn-block" onclick="location = 'TODO'">Edit
        Character</button>
    </div>
    <div class="container-fluid">
      <button id="deletechar" class="btn-block" onclick="location =
      'TODO'">Delete Character</button>
    </div>

{% endblock %}
