{% extends "layout.html" %}

{% block title %}
    HP Tracker
{% endblock %}

{% block main %}
    <div class="pb-2 mt-4 mb-2">
      <h1 id="login-header">HP Tracker</h1>
    </div>

    <h3>Characters</h3>  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Current HP</th>
          <th>Max HP</th>
        </tr>
      </thead>
      {% for char in charlist %}
        <tr>
          <td>{{ char.name }}</td>
          <td>{{ char.current }}</td>
          <td>{{ char.max }}</td>
        </tr>
      {% endfor %}
    </table>

    <div class="container-fluid">
      <button id="newchar" class="btn-block" onclick="location = '/add'" >Add Character</button>
    </div>

    <div class="container-fluid">
      <button id="removechar" class="btn-block" onclick="location = '/remove'">Remove Character</button>
    </div>

    <div class="container-fluid">
      <button id="editchar" class="btn-block" onclick="location = '/edit'">Edit
        Character Max HP</button>
    </div>
{% endblock %}
