{% extends "layout.html" %}

{% block title %}
    HP Tracker
{% endblock %}

{% block main %}
    <div class="container-fluid">
      <button id="newchar" class="btn-block" onclick="location = '/add'" >Add Character</button>
    </div>
    <div class="container-fluid">
      <button id="removechar" class="btn-block" onclick="location = '/remove'">Remove Character</button>
    </div>
    <div class="container-fluid">
      <button id="editchar" class="btn-block" onclick="location = '/edit'">Edit Character</button>
    </div>
    <form name="chars">
      <select class="form-control" name="symbol" required>
        {% for item in characters %}
        <option value="{{ item.name }}">{{ item.name }}</option>
        {% endfor %}
      </select>
    </form>
{% endblock %}
