{% extends "layout.html" %}

{% block title %}
    Login    
{% endblock %}

{% block main %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1 id="login-header">Sign In</h1>
    </div>

    <form class="form-group" action="/login" method="post" style="padding-top: 20px">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}

{% block footer %}
    Make an account to save your characters! <a style="color: #8d8075;" href="/register">Click here to register</a>
{% endblock %}