{% extends "layout.html" %}

{% block title %}
  Remove Character
{% endblock %}

{% block main %}

  <form name="removechar" class="form-group" action="/remove" method="POST">
    <select class="form-group" name="removecharlist">
     {% for char in characters %}
     <option value="{{ char.name }}">{{ char.name }}</option>
     {% endfor %}
    </select>
    <button name="removecharbtn" type="submit" class="btn btn-primary"
                                               onclick="confirmRemoval()">Remove Character</button> 
  </form>
  <script>
    function confirmRemoval(){
      let name = document.forms['removechar']['removecharlist'].value
      confirm(`Remove ${name}?`);
        }
  </script>



{% endblock %}
