{% extends "layout.html" %}

{% block title %}
  Edit Character
{% endblock %}

{% block main %}

  <form name="editchar" class="form-group" action="/edit" method="POST">
    <select class="form-group" name="editcharlist">
     {% for char in characters %}
     <option value="{{ char.name }}">{{ char.name }}</option>
     {% endfor %}
    </select>
    <button name="editcharbtn" type="submit" class="btn btn-primary"
                                               onclick="confirmEdit()">Edit
                                               Character Max HP</button> 
  </form>
  <script>
    function confirmEdit(){
      let name = document.forms['editchar']['editcharlist'].value
      confirm(`Edit ${name}?`);
        }
  </script>



{% endblock %}
